<style type="text/css">
    p.p1 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 12.0px Times
    }

    p.p2 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 12.0px Times;
        min-height: 14.0px
    }

    p.p3 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 11.0px Times
    }

    li.li3 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 11.0px Times
    }

    span.s1 {
        text-decoration: underline;
        color: #1155cc
    }

    ul.ul1 {
        list-style-type: disc
    }
</style>
<p class="p1">Our users Privacy is most important for us. In this statement we will be explaining you where why and how we will be using data collected from you and your phone. This Privacy Policy is part of our terms of services to the information that is collected in connection with the download and use of the Application.<span class="Apple-converted-space">&nbsp;&nbsp;</span>If you are not agree with our Policy and Terms of Service, Please do not download and use our Application. If you have question regarding our Privacy Policy Please write us at <span class="s1">appzmachine@gmail.com</span> <span class="Apple-converted-space">&nbsp;</span></p>
<p class="p2"><br></p>
<ul class="ul1">
    <li class="li3"><strong>Information collection and uses<span class="Apple-converted-space">&nbsp;</span></strong></li>
</ul>
<p class="p1"><strong>1.1 Personal Information</strong></p>
<p class="p1">We do not collect Personal Information of users. It is the information that identifies you or another person, Personal Information may includes your geographic location information, names, physical addresses, email addresses, telephone, information stored within your devices and other information you transferred or receive using an Application.</p>
<p class="p2"><br></p>
<p class="p1"><strong>1.2 Non-Personal Information</strong></p>
<p class="p1">We may collect Non Personal Information of user, It may contains information about your devices, phone model, other apps installed etc. We may collect all this information to improve product ,better user behaviour<span class="Apple-converted-space">&nbsp;&nbsp;</span>, services marketing and<span class="Apple-converted-space">&nbsp;&nbsp;</span>Advertisements purpose.<span class="Apple-converted-space">&nbsp; &nbsp;</span></p>
<p class="p3"><strong>2. Disclosure of Information to Third Parties</strong></p>
<p class="p1"><strong>2.1 <span class="Apple-converted-space">&nbsp;</span></strong> It may be necessary for us to disclose your personal data by law, legal process, litigation, and/or requests from public and governmental authorities within or outside your country of residence. We will also disclose data about you if we determine that for purposes of national security, law enforcement, or other issues of public importance, disclosure is necessary or appropriate.</p>
<p class="p1">In Additionally, in case of reorganization, merger, or sale we may transfer any and all user data we collect to the relevant third party.we will not publish or disclose user&apos;s non-public information.</p>
<p class="p2"><br></p>
<p class="p1"><strong>2.2<span class="Apple-converted-space">&nbsp;</span></strong> The Applications, the Services and the Site access third party information through application interfaces. We may provide links to third-party Web sites, as a service to our users. The Site may also carry advertisements from other companies. When you click on links of third parties in an Application, the Services or the Site, you may leave the Application, the Services or the Site. We do not collect your information on and through and This Policy does not address, and we are not responsible for, the privacy practices of Web sites operated by third parties.</p>
<p class="p2"><br></p>
<p class="p1"><strong>2.3</strong> We cannot control the actions of other users whom you share your information. We cannot, control the information you share with other users using an Application.We are not responsible for third party circumvention of our security measures.</p>
<p class="p2"><br></p>
<p class="p3"><strong>3. International Users Data storage</strong></p>
<p class="p1">For all International users All the data may be stored and processed in any country where we have facilities, and by using App or site you consent to transfer of your data to countries, including countries which may be outside of your country of residence and may provide for different and less stringent data protection rules than in your country.</p>
<p class="p2"><br></p>
<p class="p3"><strong>4. Our Company wise Commitment to Your Privacy</strong></p>
<p class="p1">To make sure your personal data is secure, we communicate out privacy and security guidelines to employees and strictly enforce privacy safeguards within the company.</p>
<p class="p1">At its sole discretion, to update, modify, change or otherwise alter this Privacy Policy at any time.</p>
<p class="p2"><br></p>
<p class="p3"><strong>5. Limited Liability<span class="Apple-converted-space">&nbsp;</span></strong></p>
<p class="p1">You accept that; we do not have any sort of liability what so ever for anything that may arise from the Support for free version :</p>
<p class="p1">We always try to fix the Application issue but as some of the our apps depends on phone hardware So we might We might not be able to solve the issue is related to phone Hardware OR if you upgrade to a new Android Phone OR You Change your phone to different one,In this case you change your device your old phone application will be not be able to transfer old Phone Data/Settings to your new Phone automatically you can try with share feature of the app manually.</p>
<p class="p3"><strong>6. Contacting Us</strong></p>
<p class="p1">If you have any questions or comments about this Policy or our privacy practices, or to report any violations of this Policy or abuse of Xender app, please contact us at <span class="s1">appzmachine@gmail.com</span> <span class="Apple-converted-space">&nbsp;</span></p>
<p class="p2"><span class="Apple-converted-space">&nbsp;&nbsp;</span></p>
<p class="p1"><strong>7. Sensitive Information</strong></p>
<p class="p1">We ask that you not send us, and you not disclose, any sensitive Personal Information (e.g., information related to racial or ethnic origin, political opinions, religion or other beliefs, health, sexual orientation, criminal background or membership in past organizations, including trade union memberships) on or through an Application, the Services or the Site or otherwise to us.</p>
<p class="p2"><br></p>
<p class="p1"><strong>8. Changes to This Privacy Policy</strong></p>
<p class="p1">We reserve the right, at our sole discretion, to change, modify or otherwise alter this Policy at any time.</p>
<p class="p2"><br></p>
<p class="p2"><br></p>
<p class="p2"><br></p>
<style type="text/css">
    p.p1 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 12.0px Times
    }

    p.p2 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 12.0px Times;
        min-height: 14.0px
    }

    p.p3 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 11.0px Times
    }

    li.li3 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 11.0px Times
    }

    span.s1 {
        text-decoration: underline;
        color: #1155cc
    }

    ul.ul1 {
        list-style-type: disc
    }
</style>
<p class="p1">Our users Privacy is most important for us. In this statement we will be explaining you where why and how we will be using data collected from you and your phone. This Privacy Policy is part of our terms of services to the information that is collected in connection with the download and use of the Application.<span class="Apple-converted-space">&nbsp;&nbsp;</span>If you are not agree with our Policy and Terms of Service, Please do not download and use our Application. If you have question regarding our Privacy Policy Please write us at <span class="s1">appzmachine@gmail.com</span> <span class="Apple-converted-space">&nbsp;</span></p>
<p class="p2"><br></p>
<ul class="ul1">
    <li class="li3"><strong>Information collection and uses<span class="Apple-converted-space">&nbsp;</span></strong></li>
</ul>
<p class="p1"><strong>1.1 Personal Information</strong></p>
<p class="p1">We do not collect Personal Information of users. It is the information that identifies you or another person, Personal Information may includes your geographic location information, names, physical addresses, email addresses, telephone, information stored within your devices and other information you transferred or receive using an Application.</p>
<p class="p2"><br></p>
<p class="p1"><strong>1.2 Non-Personal Information</strong></p>
<p class="p1">We may collect Non Personal Information of user, It may contains information about your devices, phone model, other apps installed etc. We may collect all this information to improve product ,better user behaviour<span class="Apple-converted-space">&nbsp;&nbsp;</span>, services marketing and<span class="Apple-converted-space">&nbsp;&nbsp;</span>Advertisements purpose.<span class="Apple-converted-space">&nbsp; &nbsp;</span></p>
<p class="p3"><strong>2. Disclosure of Information to Third Parties</strong></p>
<p class="p1"><strong>2.1 <span class="Apple-converted-space">&nbsp;</span></strong> It may be necessary for us to disclose your personal data by law, legal process, litigation, and/or requests from public and governmental authorities within or outside your country of residence. We will also disclose data about you if we determine that for purposes of national security, law enforcement, or other issues of public importance, disclosure is necessary or appropriate.</p>
<p class="p1">In Additionally, in case of reorganization, merger, or sale we may transfer any and all user data we collect to the relevant third party.we will not publish or disclose user&apos;s non-public information.</p>
<p class="p2"><br></p>
<p class="p1"><strong>2.2<span class="Apple-converted-space">&nbsp;</span></strong> The Applications, the Services and the Site access third party information through application interfaces. We may provide links to third-party Web sites, as a service to our users. The Site may also carry advertisements from other companies. When you click on links of third parties in an Application, the Services or the Site, you may leave the Application, the Services or the Site. We do not collect your information on and through and This Policy does not address, and we are not responsible for, the privacy practices of Web sites operated by third parties.</p>
<p class="p2"><br></p>
<p class="p1"><strong>2.3</strong> We cannot control the actions of other users whom you share your information. We cannot, control the information you share with other users using an Application.We are not responsible for third party circumvention of our security measures.</p>
<p class="p2"><br></p>
<p class="p3"><strong>3. International Users Data storage</strong></p>
<p class="p1">For all International users All the data may be stored and processed in any country where we have facilities, and by using App or site you consent to transfer of your data to countries, including countries which may be outside of your country of residence and may provide for different and less stringent data protection rules than in your country.</p>
<p class="p2"><br></p>
<p class="p3"><strong>4. Our Company wise Commitment to Your Privacy</strong></p>
<p class="p1">To make sure your personal data is secure, we communicate out privacy and security guidelines to employees and strictly enforce privacy safeguards within the company.</p>
<p class="p1">At its sole discretion, to update, modify, change or otherwise alter this Privacy Policy at any time.</p>
<p class="p2"><br></p>
<p class="p3"><strong>5. Limited Liability<span class="Apple-converted-space">&nbsp;</span></strong></p>
<p class="p1">You accept that; we do not have any sort of liability what so ever for anything that may arise from the Support for free version :</p>
<p class="p1">We always try to fix the Application issue but as some of the our apps depends on phone hardware So we might We might not be able to solve the issue is related to phone Hardware OR if you upgrade to a new Android Phone OR You Change your phone to different one,In this case you change your device your old phone application will be not be able to transfer old Phone Data/Settings to your new Phone automatically you can try with share feature of the app manually.</p>
<p class="p3"><strong>6. Contacting Us</strong></p>
<p class="p1">If you have any questions or comments about this Policy or our privacy practices, or to report any violations of this Policy or abuse of Xender app, please contact us at <span class="s1">appzmachine@gmail.com</span> <span class="Apple-converted-space">&nbsp;</span></p>
<p class="p2"><span class="Apple-converted-space">&nbsp;&nbsp;</span></p>
<p class="p1"><strong>7. Sensitive Information</strong></p>
<p class="p1">We ask that you not send us, and you not disclose, any sensitive Personal Information (e.g., information related to racial or ethnic origin, political opinions, religion or other beliefs, health, sexual orientation, criminal background or membership in past organizations, including trade union memberships) on or through an Application, the Services or the Site or otherwise to us.</p>
<p class="p2"><br></p>
<p class="p1"><strong>8. Changes to This Privacy Policy</strong></p>
<p class="p1">We reserve the right, at our sole discretion, to change, modify or otherwise alter this Policy at any time.</p>
<p class="p2"><br></p>
<p class="p2"><br></p>
<p class="p2"><br></p>